:root {
    --glow-bg-color: #bc13fe44;
    --glow-bg-orginal: #bc13fe;
}

html,
body {
    margin: 0;
    padding: 0;
}

.MuiCard-root {
    border-radius: 20px !important;
}
.MuiCard-root:hover {
    box-shadow: 0 0 0.1rem #63546a, 0 0 0.1rem #766280,
        0 0 0.8rem var(--glow-bg-color), 0 0 2.8rem var(--glow-bg-color),
        inset 0 0 1.3rem var(--glow-bg-color) !important;
}

.wish-author {
    position: relative;
}

.wish-author::after {
    background: var(--glow-bg-orginal);
    content: "";
    height: 80px;
    width: 80px;
    opacity: 0.3;
    position: absolute;
    top: -10px;
    right: -40px;
    border-radius: 50%;
}

.neon-text {
    font-family: "Pacifico", cursive;
    color: #ebcfed;
    text-shadow: 0 0 7px var(--glow-bg-color), 0 0 10px var(--glow-bg-color),
        0 0 21px var(--glow-bg-color), 0 0 42px var(--glow-bg-color),
        0 0 82px var(--glow-bg-color), 0 0 92px var(--glow-bg-color),
        0 0 102px var(--glow-bg-color), 0 0 151px var(--glow-bg-color);
    animation: flicker 1.5s infinite alternate-reverse;
}

/* Flickering animation */
@keyframes flicker {
    0%,
    18%,
    22%,
    25%,
    53%,
    57%,
    100% {
        text-shadow: 0 0 4px var(--glow-bg-orginal),
            0 0 11px var(--glow-bg-orginal), 0 0 19px var(--glow-bg-orginal);
    }

    20%,
    24%,
    55% {
        text-shadow: 0 0 1px var(--glow-bg-orginal), 0 0 1px #fff,
            0 0 1px var(--glow-bg-orginal), 0 0 1px var(--glow-bg-orginal);
    }
}
